1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

* - mathematical operators
'hello' - string
-87.8 - integer
-  -- operator
/ - operator
+ - operator
6 - integer

What is the difference between string and variable?

variables are symbols that you can use to store data in a program.
string is a collection of alphabets , words or other characters and python strings are immutable.

What is an expression made up of? What do all expressions do?

An expersion is a construct made up of variables , operators and method invocations which are constructed according to syntax of the language that evaluates to a single value

 This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression in python is a combination of operators and operands.
eg--
x=25
x=x+10
print (x)
output = 35
Whereas a statement is used for creating variables or for displaying values.
eg --
a=25    # a statement
print(a) # a statement
output = 25

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [4]:
bacon =22
bacon + 1

23

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

variables names should start with alphabets as they are accepted as syntax while variable name starting with numerics will show syntax error

In [7]:
# eg
eggs =100
print(eggs)

100

In [8]:
# eg
100 =10
print(100)

SyntaxError: cannot assign to literal (820198929.py, line 2)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int() , float() and str() function will evaluate to the integer , floating and string version of the value passed to them

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [9]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [11]:
# method to fix
'I have eaten'+' 99 '+'burritos'

'I have eaten 99 burritos'